.form-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 600px;
}

@media (max-width: $mobile-width) {
  .form-account {
    width: 300px;
  }
}