body, h1, h2, h3,
h4, h5, h6 {
  margin: 0;
  padding: 0; }

.course {
  height: 200px; }
  .course__image {
    height: 100px;
    background: red; }
  .course__info {
    height: 30px;
    display: flex;
    flex-direction: column; }
